<div class="">
  <h1>Apps by host</h1>
  <span>for user somebody@test.net</span>
</div>

<? this.props.hosts.forEach(function(hostItem){ ?>
  <div>
    <?- new Host({ host: hostItem }).root(); ?>
  </div>

<? }); ?>
