<div>
  <span class="title">Apps by host</span>  <span>for user somebody@test.net</span>
</div>

<? this.props.hosts.forEach(function(hostItem){ ?>
  <div>
    <?- new Host({ host: hostItem }).root(); ?>
  </div>

<? }); ?>
