x-host {
  margin: 30px;
  background: white;
  display: block;
  padding: 20px;
  min-width: 375px;
}

x-host .host-title {
  font-weight: bold;
}

x-host ul {
  list-style: none;
  padding: 0;
}

x-host li * {
  margin-right: 10px;
}
