<p class="host-title"><?= this.props.host ?></p>
<ul>
<? this.props.top5apps.forEach(function(app){ ?>
  <li>
    <p>
      <span><?= app.apdex ?></span>
      <span><?= app.name ?></span>
    </p>
  </li>
<? }); ?>
</ul>
